.a-pay-widget {
  position: fixed;
  display: flex;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  overflow: auto;
  visibility: hidden;
  opacity: 0;
  transition: opacity .3s ease-in-out;
}

.a-pay-widget__content {
  background-color: #fefefe;
  border: 1px solid #888;
  width: 100%;
  max-width: 648px;
  position: relative;
  margin: auto;
  cursor: default;
  border-radius: 15px;
}

.a-pay-widget__close {
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 22px;
}

@media screen and (max-width: 700px) {
  .a-pay-widget__content {
    width: 70%;
  }
}